@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import '~antd/dist/antd.css';

#root {
  background: #434343;
  height: 100%;
}
header {
  background: #fff;
}
.steps, .ant-steps-horizontal {
  width: 90%;
}
